*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;   
}

body{
    height: 100vh;
    background: #06ffea3b;
    overflow: hidden;
    align-items: center;
    
    justify-content:center;
}

.header{
    display: flex;
    justify-content: space-between
}

.text{
    margin-left: 10px;
    
    outline: none;
    width: 110px;
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #5335cf 0%, #de005e 25%, #f66e48 50%, #de005e 75%, #5335cf 100%);
    background-size: 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate 10s linear infinite;
}

@keyframes animate {
    100% {
        background-position: 400%;

    }
}

.box {
    max-width: 400px;
    width: 100%;
    margin-top: 10px;
    float: right;
}   

.box .search-box{
    position: relative;
    height: 50px;
    max-width: 50px;
    margin: auto;
    box-shadow: 0 5px 10px rgba(0,0,0,0.25);
    border-radius: 25px;
    transition: all 0.5s ease;
}

#check:checked ~ .search-box{
    max-width: 380px;
}

#check{
    display: none;
}

.search-box input{
    background: #fff;
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 25px;
    outline: none;
    border: none;
    padding-left: 20px;
    font-size: 18px;

}

.search-box .icon{
    position: absolute;
    right: 0;
    text-align: center;
    line-height: 55px;
    background: #06ffea;
    top: 0;
    width: 50px;
    color: #0e2431;
    height: 100%;
    border-radius: 25px;
}   

#check:checked ~ .search-box .icon{
    background: #06ffea;
    color: #0e2431;
    border-radius: 0 25px 25px 0;
}

nav{
    position: absolute;
    top: 20px;
    right: 0;
    width: 80px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;   
    cursor: grab;
}

nav .nav-content{
    display: flex;
    align-items: center;
    justify-content: center;   
    transform: rotate(-45deg);
}

.nav-content .toggle-btn,
.nav-content span a{
    height: 60px;
    width: 60px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

.nav-content .toggle-btn{
    font-size: 35px;
    color: #0e2431;
    z-index: 100;
    cursor: pointer;
    transform: rotate(-225deg);
    transition: all 0.6s ease;
}

nav.open .toggle-btn{
    transform: rotate(0deg);
}

.nav-content span{
    position: absolute;
    transition: all 0.6s ease;
    opacity: 0;
}

nav.open .nav-content span{
    transform: rotate(calc(var(--i) * (360deg / 8))) translateY(120px);  
    opacity: 1; 
}

.nav-content span a{
    text-decoration: none;
    transform: rotate(45deg);
}

.nav-content span a i{
    transform: rotate(calc(var(--i) * (360deg / -8)));
    font-size: 24px;
    color:#0e2431;
    opacity: 0.8;
    transition: 0.2s;
}

.nav-content span a:hover i{
    opacity: 1;
}

